html, body {
    margin:0;
  }

.container {
  position: relative;
}

#background {
  position: relative;
}

#sand {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

h1 {
  position:fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Rubik Pixels', cursive;
  font-size: 4em;
  color:rgba(255, 255, 255, 0.5);
}

.timerDisplay{
  position:fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff47;
  padding: 20px 5px;
  font-family: 'Rubik Pixels';
  color:rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

* {
  margin: 0;
  padding: 0;
}

svg {
  display: none;
  position: static;
}