html, body {
    margin:0;
  }

.container {
  position: relative;
}

#background {
  position: relative;
}

#sand {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

h1 {
  position:fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Rubik Pixels', cursive;
  font-size: 4em;
  color:rgba(255, 255, 255, 0.5);
}

.timerDisplay{
  position:fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff47;
  padding: 20px 5px;
  font-family: 'Rubik Pixels';
  color:rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

#deep {
  position: relative;
}

.sand-floor {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.kelp {
  position: fixed;
  left: 2%;
  bottom: -10%;
}

.finger-coral {
  position: fixed;
  left: 60%;
  bottom: -13%;
}

.coral {
  position: fixed;
  left: 55%;
  bottom: -15%;
}

.sand-dollar {
  position: fixed;
  left: 25%;
  bottom: -5%;
}

.oyster {
  position: fixed;
  left: 45%;
  bottom: 0%;
}

.fan {
  position: fixed;
  left: 70%;
  bottom: -10%;
}

.coral-tube {
  position: fixed;
  left: -6%;
  bottom: 0%;
}

.deep-info {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff33;
  padding: 40px 40px;
  font-family: 'Rubik Pixels';
  color:rgba(209, 211, 246, 0.5);
  font-size: 1.5em;
  text-align: center;
  justify-content: space-around;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(102, 183, 249, 0.149);
}

.restart {
  position:fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Rubik Pixels';
  color:rgba(208, 209, 221, 0.5);
  font-size: 1.7em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
}

svg {
  display: none;
  position: static;
}

.depth {
  position:fixed;
  top: 43%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee';
  color:rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
}

.depth span{
  min-width:0.5em;
  text-align:center;
  padding:30px;
  margin:0px;
 }

 .meter {
  position:fixed;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee';
  color:rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
 }

.depthCount {
  position:fixed;
  top: 50%;
  left: 89%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee';
  color:rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
}

.count {
  position:fixed;
  top: 57%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee';
  color:rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
}

.count span{
  min-width:0.5em;
  text-align:center;
  padding:30px;
  margin:0px;
 }

.vl1 {
  position: fixed;
  left: 90%;
  top: 30%;
  transform: translate(-50%, -50%);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  height: 100px;
}

.vl2 {
  position: fixed;
  left: 90%;
  top: 70%;
  transform: translate(-50%, -50%);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  height: 100px;
}

.f {
  position: absolute;
  top:.75%;
  left:50%;
  transform: translate(-50%, -50%);
  background: #ffffff0c;
  padding: 40px 40px;
  font-family: 'Rubik Pixels';
  color:rgba(19, 24, 112, 0.5);
  font-size: 1.5em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

.f1 {
  position: absolute;
  top:7%;
  left:25%;
  transform: translate(-50%, -50%);
  background: #ffffff3b;
  padding: 40px 40px;
  font-family: 'Rubik Pixels';
  color:rgba(19, 24, 112, 0.5);
  font-size: 1.5em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

.f2 {
  position: absolute;
  top:9%;
  left:60%;
  transform: translate(-50%, -50%);
  background: #ffffff3b;
  padding: 40px 40px;
  font-family: 'Rubik Pixels';
  color:rgba(19, 24, 112, 0.5);
  font-size: 1.5em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

.f3 {
  position: absolute;
  top:12%;
  left:25%;
  transform: translate(-50%, -50%);
  background: #ffffff3b;
  padding: 40px 40px;
  font-family: 'Rubik Pixels';
  color:rgba(19, 24, 112, 0.5);
  font-size: 1.5em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

.f4 {
  position: absolute;
  top:40%;
  left:65%;
  transform: translate(-50%, -50%);
  background: #ffffff3b;
  padding: 40px 40px;
  font-family: 'Rubik Pixels';
  color:rgba(19, 24, 112, 0.5);
  font-size: 1.5em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

.f5 {
  position: absolute;
  top:50%;
  left:25%;
  transform: translate(-50%, -50%);
  background: #ffffff2b;
  padding: 40px 40px;
  font-family: 'Rubik Pixels';
  color:rgba(149, 195, 222, 0.5);
  font-size: 1.5em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
}
.f6 {
  position: absolute;
  top:90%;
  left:60%;
  transform: translate(-50%, -50%);
  background: #ffffff2b;
  padding: 40px 40px;
  font-family: 'Rubik Pixels';
  color:rgba(149, 195, 222, 0.5);
  font-size: 1.5em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
}
